{% extends 'base.html' %}

{% block content %}
    <div class="row">
              <div class="col-lg-12">
                <div class="card card-small card-post mb-4">
                  <div class="card-body">
                    <h5 class="card-title">Abstract</h5>
                    <p class="card-text text-muted">
                        To properly capture the complexity of influence propagation phenomena in
                        real-world contexts, such as those related to viral marketing and misinformation
                        spread, information diffusion models should fulfill a number of requirements.
                        These include accounting for several dynamic aspects in the propagation (e.g.,
                        latency, time horizon), dealing with multiple cascades of information that might
                        occur competitively, accounting for the contingencies that lead a user to change
                        her/his adoption of one or alternative information items, and leveraging
                        trust/distrust in the users’ relationships and its effect of influence on the users’
                        decisions. To the best of our knowledge, no diffusion model unifying all of the
                        above requirements has been developed so far. In this work, we address such a
                        challenge and propose a novel class of diffusion models, inspired by the classic
                        linear threshold model, which are designed to deal with trust-aware,
                        non-competitive as well as competitive time-varying propagation scenarios. Our
                        theoretical inspection of the proposed models unveils important findings on the
                        relations with existing linear threshold models for which properties are known
                        about whether monotonicity and submodularity hold for the corresponding
                        activation function. We also propose strategies for the selection of the initial
                        spreaders of the propagation process, for both non-competitive and competitive
                        influence propagation tasks, whose goal is to mimic contexts of misinformation
                        spread. Our extensive experimental evaluation, which was conducted on publicly
                        available networks and included comparison with competing methods, provides
                        evidence on the meaningfulness and uniqueness of our models.
                    </p>
                  </div>
                  <div class="card-footer border-top d-flex">
                    <div class="card-post__author d-flex">
                      <a href="#" class="card-post__author-avatar card-post__author-avatar--small" style="background-image: url('static/img/ac.jpg');">Written by James Khan</a>
                      <div class="d-flex flex-column justify-content-center ml-3">
                        <span class="card-post__author-name">Antonio Caliò</span>
                      </div>
                    </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <div class="card-post__author d-flex">
                      <a href="#" class="card-post__author-avatar card-post__author-avatar--small" style="background-image: url('/static/img/at.jpg');">Written by James Khan</a>
                      <div class="d-flex flex-column justify-content-center ml-3">
                        <span class="card-post__author-name">Andrea Tagarelli</span>
                      </div>
                    </div>

                      <div class="my-auto ml-auto">
                      <a class="btn btn-sm btn-white" href="#">
                        <i class="far fa-bookmark mr-1"></i> DOI </a>
                    </div>

                  </div>
                </div>
              </div>
            </div>


<strong>Abstract</strong>



{% endblock %}

