{% extends 'base.html' %}

{% block content %}
    <!-- Small Stats Blocks -->
    <div class="row">
        <div class="col-lg-6 col-sm-12 mb-4">
            <div class="card card-small card-post card-post--aside card-post--1">
                <div class="card-post__image" style="background-image: url('images/content-management/5.jpeg');">
                    <div class="card-post__author d-flex">
                        <a href="#" class="card-post__author-avatar card-post__author-avatar--small"
                           style="background-image: url('images/avatars/0.jpg');"></a>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="text-fiord-blue" href="#"><strong>Andrea Tagarelli</strong></a>
                    </h5>
                    <p class="card-text d-inline-block mb-3">
                        Associate professor of
                        computer engineering at the University of Calabria, Italy.
                        From the same university, he received his PhD degree
                        in computer and systems engineering in 2006. His research interests
                        are in the areas of data mining, machine
                        learning, network analysis, web and semistructured data management,
                        information retrieval.
                        On these topics, he has co-authored about 100
                        peer-reviewed papers, and edited one book on
                        XML data mining. He co-organized workshops
                        on data mining topics in premier conferences in the field (ACM SIGKDD,
                        SIAM DM, PAKDD, ECML-PKDD, ECIR). He is co-program-chair of the
                        2018 IEEE/ACM ASONAM Conference
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-sm-12 mb-4">
            <div class="card card-small card-post card-post--aside card-post--1">
                <div class="card-post__image" style="background-image: url('images/content-management/6.jpeg');">

                    <div class="card-post__author d-flex">
                        <a href="#" class="card-post__author-avatar card-post__author-avatar--small"
                           style="background-image: url('images/avatars/1.jpg');"></a>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="text-fiord-blue" href="#"><strong>Antonio Caliò</strong></a>
                    </h5>
                    <p class="card-text d-inline-block mb-3">
                        PhD student in information and communication technologies with
                        the DIMES Department, University of Calabria,
                        Italy.
                         His research interests include topics in data mining and machine
                        learning applied to complex networks analysis, such as information
                        diffusion models, influence propagation and related optimisation problems.
                    </p>
                    <span class="text-muted">29 February 2019</span>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

